.large-8.columns
  %h1
    = t 'victim.index_heading'
  %table
    %thead
      %tr
        %th Name
        %th
    %tbody
      - @victims.each do |victim|
        %tr
          %td.victim-link
            = link_to victim.name, victim
          %td
            = link_to 'Edit', edit_victim_path(victim)
            |
            = link_to 'Destroy', victim, :method => :delete, :data => { :confirm => 'Are you sure?' }

.large-4.columns
  = link_to 'New Victim', new_victim_path
