#notice= notice

- content_for :page_heading do
  .large-heading= @victim.name

.demerit-target.fastclick
  .target-image{ style: "background-image: url('#{ @victim.image }');" }
  .target-overlay
    = image_tag 'down-arrow.svg', height: '100%', width: '100%'
.footer
  .demerit-count-heading
    = image_tag 'down-circle.svg', height: 16, width: 16
    = 'de<strong>MERIT Count:</strong>'.html_safe

  .demerit-count
    :plain
      Nothing here {{'yet' + '!'}}
