<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset='utf-8'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <meta name='apple-mobile-web-app-capable' content='yes'>

  <title><%= content_for?(:title) ? yield(:title) : 'Untitled' %></title>

  <%= stylesheet_link_tag 'application' %>

  <link rel="apple-touch-icon" href="/icons/touch-icon-iphone.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/touch-icon-ipad.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/touch-icon-iphone-retina.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/touch-icon-ipad-retina.png"/>

  <%= javascript_include_tag 'lib/custom.modernizr' %>
  <%= csrf_meta_tags %>
</head>

<body ontouchstart=''>
<%= render 'layouts/main_nav' %>

<div class="row">
  <%= yield %>
</div>

<%= javascript_include_tag 'application' %>

</body>
</html>
